[Desktop Entry]
Name=Open Voice Input Linux
Name[zh_CN]=Open Voice Input Linux 语音输入
Comment=Controller for the Open Voice Input Linux daemon
Comment[zh_CN]=Open Voice Input Linux 独立语音服务控制界面
Exec=doubao-murmur
Icon=com.doubao.Murmur
Type=Application
Categories=Utility;Accessibility;
StartupNotify=false
Terminal=false
X-KDE-StartupNotify=false
Keywords=voice;speech;input;controller;
